@import url(https://fonts.googleapis.com/css?family=Josefin+Sans); /* Allows use of chosen Google Font */

body {
    font-family: 'Josefin Sans', sans-serif; /* Applies our chosen font to everything in the body of our html */
    padding-top: 100px; /* Provides padding between navbar and jumbotron */
    background-image: url(images/board_black_line_texture_background_wood_55220_1920x1080.jpg);
}

.navbar {
    margin-bottom: 40px;
}
.nav.navbar-nav.glyph {
    float: right;   
}
.fa {
    font-size: large;
}
.jumbotron.jumbo1 {
    background-image: linear-gradient(to bottom, #3c3c3c 0,#222 0%);
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    color: #b8b8b8;
    z-index: initial;
    text-shadow: -2px 1px 2px #000000;
/*    border: 1px solid #b8b8b8; */
}
.jumbotron.jumbo1 p {
    padding-top: 20px;
    padding-bottom: 20px;
}

.jumbotron.jumbo1 ul {
    display: block;
    float: right;
    text-align: center;
    list-style-type: none;
}
.jumbotron.jumbo1 ul li {
    padding: 5px;
    text-align: center;
    margin-left: 5px;
}

.jumbotron.jumbo1 h3 {
    border-bottom: 1px solid #b8b8b8;
    border-radius: 8%;
}

#portrait {
    float: right;
    border-radius: 30px;
    box-shadow: 0px 0px 15px 7px rgba(0,0,0,0.75);
}

.jumbotron.jumbo1 ul li i {
    margin-left: 10px;
    
}
.jumbotron.jumbo1 h1 h2 p {
    
    
}

.fa.fa-cogs.glyph-pad {
    text-align: center;
    padding-right: 30px;
    font-size: large;
    margin-left: 50px;
    
}
.footer {
    text-align: center !important;
    font-size: 18px;
    color: #b8b8b8;
}

.shadow {
    text-shadow: -2px 1px 2px #000000;
}
.index-1 {
    z-index: 1;
}
.index-0 {
    z-index: 0;
    opacity: 0.4;
}
